:root {
  --clr-darkbrown: #312614;
  --clr-accent: #B7832F;
  --clr-gray: #707070;
  --clr-white: #fff;

  --fs-h1: 2.125rem;
  --fs-h2: 1.125rem;
  --fs-body: 1rem;

  --layout: 980px;
}

@media (min-width: 48em) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-body: 1.125rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: var(--fs-body);
  color: var(--clr-gray);
  line-height: 1.5;
}

/* Typography */

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-darkbrown);
}

h2 {
  font-size: var(--fs-h2);
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  margin-bottom: 1em;
}

/*  Layout  */

.container {
  max-width: var(--layout);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  position: relative;
}

.columns > * {
  margin-bottom: 2em;
}

/* Utilities */

.text-accent {
  color: var(--clr-accent);
}

.bg-dark {
  background: var(--clr-darkbrown);
  color: var(--clr-white);
  padding: 1.25em;
}

/* from a minimum width of 768px and bigger */
@media (min-width: 48em) {
  h1 {
    text-align: center;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .column-1 {
    /* flex: 1 => flex: 1 1 0 */
    flex: 0 0 25%;
  }

  .column-2 {
    flex: 2;
  }

  .column-3 {
    flex: 3;
  }
}