:root {
  --clr-darkblue: #143774;
  --clr-lightblue: #1792D2;
  --clr-gray-700: #717171;
  --clr-gray-500: #707070;
  --clr-gray-300: #EBEBEB;
  --clr-gray-100: #F8F8F8;
  --clr-white: #FFFFFF;
  
  --ff-lora: 'lora', serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-body: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-ubuntu);
  font-size: var(--fs-body);
  font-weight: 300;
  line-height: 28px;
  color: var(--clr-gray-500);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Typography */

h1, h2, h3 {
  color: var(--clr-darkblue);
  font-family: var(--ff-lora);
  font-weight: 400;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  color: var(--clr-lightblue);
}

a {
  color: var(--clr-lightblue);
}

a:hover,
a:focus {
  color: var(--clr-darkblue);
}

/* Layout */

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

@media (min-width: 62em) {
  .flex-container {
    display: flex;
    column-gap: 3rem;
  }

  main {
    flex: 0 1 75%;
  }

  aside {
    flex: 0 1 25%;
  }
}

/* navigation */

.site-header {
  background: var(--clr-gray-100);
  padding: 3em 0;
  margin-bottom: 3em;
}

.site-title .title, .site-title .subtitle {
  margin: 0;
}

.subtitle {
  color: var(--clr-lightblue);
  font-family: var(--ff-ubuntu);
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
  padding-left: 0;
}

.nav-link {
  color: var(--clr-gray-700);
  font-weight: 700;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: .75em 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-lightblue);
}

.current-page {
  color: var(--clr-gray-700);
  text-decoration: 2px underline;
  text-underline-offset: 0.5em;
}

@media (max-width: 62em) {
  .site-header {
    text-align: center;
  }
}

@media (min-width: 62em) {
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .site-navigation {
    margin-left: auto;
  }

  .nav-list {
    display: flex;
  }
  
  .nav-list-item {
    margin-left: 2em;
  }
}

/* article */

.article-featured {
  border-bottom: 1px solid var(--clr-gray-500);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-featured .article-image {
  width: 100%;
  max-height: 300px;
  object-position: bottom;
}

.article-image {
  margin-bottom: 2em;
}

.article-info, .article-read-more {
  font-size: 0.875rem;
}

.article-read-more {
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--clr-darkblue);
  text-decoration: underline;
}

.article-recent {
  margin-bottom: 2em;
}

@media (min-width: 62em) {
  .article-recent {
    display: flex;
    column-gap: 1rem;
  }

  .article-recent-main {
    flex: 0 1 30%;
  }

  .article-recent-secondary {
    flex: 0 1 70%;
  }

  .article-image {
    min-height: 240px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .article-image--left {
    object-position: left;
  }

  .article-title {
    margin-top: 0;
  }
}

/* widget */

.sidebar-widget {
  border: 1em solid var(--clr-gray-300);
  padding: 1em;
  margin-bottom: 2em;
}

.widget-title {
  font-family: var(--ff-ubuntu);
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0 0 1em 0;
}

.widget-body {
  font-size: 0.875rem;
}

.recent-post {
  border-bottom: 1px solid var(--clr-gray-500);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.recent-post:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.recent-post-title {
  color: var(--clr-darkblue);
  font-size: 1.125rem;
  font-weight: 400;
}

/* footer */

.site-footer {
  background:var(--clr-darkblue);
  color: var(--clr-white);
  text-align: center;
  padding: 3.75rem 0;
}

.site-footer p {
  opacity: 54%;
  margin: 0;
}

/* about-me */

.about-me {
  margin-bottom: 2em;
}

@media (min-width: 62em) {
  .about-me {
    margin-bottom: 6rem;
  }
}

.about-me-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}
